@font-face {
    font-family: 'Odyssey';
    src: url('TrajanOdyssey-Regular.otf') format("opentype");
}

.stat-block {
    color: #095471;
    background-color: #ffffff;
    background-image: url('bg.jpg');
    background-size:  100% 100%;
    background-repeat: no-repeat;

    padding: 10px;
    margin: -10px;

    h1 {
        font-family: 'Odyssey';
        color: #095471;
         border-bottom: 0px solid white;
        background-image: url('hr.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-y: bottom;
        padding-bottom: .8rem;
        margin-bottom: .2rem
    }

    .stat-block__row {
        border-bottom: 0px solid white;
    }

    .feature-container {
		color: black;
		border-bottom: 0px solid white;
		margin-top: 0.3rem;
	}

    .feature-container__title {
        font-family: 'Odyssey';
        color: #095471;
        border-bottom: 0px solid white;
        background-image: url('hr.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-y: bottom;
        padding-bottom: .2rem;
        margin-bottom: .2rem

    }

    &__core {
        color: grey
    }

}

