@font-face {
    font-family: 'Odyssey';
    src: url('TrajanOdyssey-Regular.otf') format("opentype");
}

body .content .stat-block.Odyssey,
body .v-popper__custom-menu .stat-block.Odyssey {
    color: #095471;
    background-color: #ffffff;
    background-size:  100% 100%;
    background-repeat: no-repeat;

    border: 1px solid #cfac8d;

    box-shadow: 0 0 3px #f3f5f9;
    border: 1px solid #cfac8d;
    padding: 15px;
    outline: 1px solid #cfac8d;
    outline-offset: -0.25rem;
    border-radius: .5rem;

    h1 {
        font-family: 'Odyssey';
        color: #095471;
        border-bottom: 0px solid #095471;
        background-image: url('hr.svg');
        background-size: 47%;
        background-repeat: no-repeat;
        background-position-y: bottom;
        background-position: right bottom;
        padding-bottom: .8rem;
        margin-bottom: .2rem;
        margin-right: 8.5px;
        position: relative;

        &::after {
            position: absolute;
            background-color: #095471;
            left: 0;
            bottom: 2px;
            width: 70%;
            height: 1px;
            display: block;
            content: '';
        }
    }


    .stat-block__row {
        border-bottom: 0px solid white;
    }

    .feature-container {
		color: black;
		border-bottom: 0px solid white;
	}

    .feature-container__title {
        font-family: 'Odyssey';
        color: #095471;
        border-bottom: 0px solid white;
        background-image: url('hr.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-y: bottom;
        padding-bottom: .2rem;
        margin-bottom: .2rem

    }

    .stat-block__core {
        color: grey
    }


    .stat-table:first-of-type {
        tbody > th {
            font-weight: bold
        };
        tbody > tr > td {
            background-color: #c3c6b4;;
        }

        tbody > tr > th,
        tbody > tr > td:first-of-type {
            background-color: #e0e2d9;
        }
    }

    .stat-table:nth-of-type(2) {
        tbody > tr > td {
            background-color: #d8ccd1;
        }

        tbody > tr > th,
        tbody > tr > td:first-of-type {
            background-color: #ebe5e8;
        }
    }

}

@media screen and (max-width: 1400px) {

    .stat-block {
	h1 {
        background-size: 100%;


        &::after {
            display: none;
        }
    }
    }

}
