# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project specific
frontend/public/sitemap.xml
.env
.jwtkey
backend/build/database.js
backend/build/logger.js
backend/build/server.js
backend/build/logic/bestiaries.js
backend/build/logic/creatures.js
backend/build/logic/critterdb.js
backend/build/logic/discord.js
backend/build/logic/login.js
backend/build/logic/search.js
backend/build/logic/staticData.js
backend/build/logic/user.js
backend/build/staticData/basicExamples.json
backend/build/staticData/limits.json
backend/build/staticData/srdFeatures.json
backend/build/staticData/tags.json
