.content-tile {
	aspect-ratio: 1 / 1;
	background: var(--color-surface-1);
	color: #cbcbcb;
	padding: 1rem;
	box-shadow:
		rgba(0, 0, 0, 0.19) 0px 10px 20px,
		rgba(0, 0, 0, 0.23) 0px 6px 6px;

	display: grid;
	grid-template-rows: 1fr 6fr 1fr;
	gap: 0.3rem;

	text-decoration: unset;

	.tile-header {
		text-align: center;
		text-wrap: nowrap;
		overflow: hidden;
		color: white;
        font-size: .8rem;
	}

	.tile-content {
		overflow-y: auto;

		.tags {
			font-style: italic;
		}

		&.tile-has-image {
			position: relative;
			overflow-y: hidden;
			.description,
			.tags {
				position: absolute;
				width: 90%;
				height: 100%;
				left: 5%;
				top: 500px;
				display: inline;
				z-index: 1;
				transition: top 300ms ease-out;
			}

			.tags {
				overflow: hidden;
				text-wrap: nowrap;
				text-overflow: ellipsis;
			}

			.tile-image {
				width: 100%;
				height: 100%;
				object-fit: cover;
				filter: brightness(75%);
				transition: filter 300ms ease-out;
			}
		}
	}
	&:hover:has(.tile-has-image) {
		.tags {
			top: 0;
		}

		.description {
			top: 18px;
			overflow-y: scroll;
			padding-bottom: 20px;
		}
		.tile-image {
			filter: brightness(25%);
		}
	}

	&.draggable {
		cursor: grab;
	}
	.tile-footer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		font-size: 1.1rem;
		width: 100%;
		margin: auto;
	}
}

.content-tile:hover {
	background-color: #454241;
}