.tree-row {
	background-color: var(--color-surface-0);
	cursor: pointer;
	transition: color 150ms ease-out;
	user-select: none;
	padding-bottom: 4px;

	&:hover {
		color: color-mix(in srgb, currentColor, white) !important;
	}

	&>svg {
		color: currentColor;
		cursor: pointer;
	}

	.collapse-button {
		user-select: none;
		margin-left: 0.1rem;

		svg {
			scale: 1.2;
			transition: color 0.3s ease-out;
			color: currentColor;
			cursor: pointer;

			&:hover {
				color: orangered;
			}
		}
	}

	.tree-buttons {
		display: inline-flex;
		flex-direction: row;
		gap: 0.5em;
		margin-left: 0.5em;
		justify-content: flex-end;
		float: right;

		svg {
			scale: 1.2;
			transition: color 0.3s ease-out;
			color: currentColor;
			cursor: pointer;

			&:not(.disabled):hover {
				color: orangered !important;
			}
		}
	}

	.additional-text {
		overflow-x: hidden;
		text-wrap: nowrap;
	}

	&.section-node {
		font-style: italic;
	}
}

.no-focus-outline:focus,
.no-focus-outline:focus-visible {
	outline: none;
}

.drag-handle {
	cursor: grab;
}

.drag-ghost {
	opacity: 1;
	outline: 1px dotted white;
	position: relative;

	& * p,
	& * .add-effect {
		// background-color: 0.7;
	}


}

.drag-ghost::before {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	content: '';
}

.tree-row {
	margin-left: calc(var(--depth, 0) * 15px);
}