
.content {
	margin: 1rem 5vw;

	& h1 {
		text-align: center;
		margin-bottom: 2rem;
		font-size: 3rem;

		& span {
			border-bottom: 4px solid orangered;
			padding: 0 10rem
		}
	}
}

.tile-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 1.5em;
}

@media screen and (max-width: 1800px) {
	.tile-container {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.content h1 span {
		padding: 0 7rem
	}

	.content-tile.bestiary-tile .bestiary-tile-content {
		height: 25rem;
		.description {
            height: 23rem;
		}
	}
}

@media screen and (max-width: 1550px) {
	.tile-container {
		grid-template-columns: 1fr 1fr;
	}

	.content-tile.bestiary-tile .bestiary-tile-content {
		height: 30rem;

		.description {
			max-height: 28rem;
		}
	}

	.content h1 span {
		padding: 0 4rem
	}
}

@media screen and (max-width: 1050px) {
	.tile-container {
		grid-template-columns: 1fr;
	}

	.content-tile.bestiary-tile .bestiary-tile-content {
		height: 35rem;

		.description {
			max-height: 33rem;
		}
	}

	.content h1  {
		font-size: 2rem;

		span { 
			padding: 0 2rem
		}
	}
}


.content-tile {
	aspect-ratio: 1 / 1;
	background: rgb(59, 55, 54);
	color: #cbcbcb;
	padding: 1rem;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

	transition: all 1s;
	transition-timing-function: cubic-bezier(0.060, 0.975, 0.195, 0.985);

	display: grid;
	grid-template-rows: 1fr 6fr 1fr;
	gap: .3rem;

	text-decoration: unset;

	.tile-header {
		text-transform: lowercase;
		text-align: center;
		text-wrap: nowrap;
		overflow: hidden;
		color: white;
		border-bottom: 1px solid orangered;
	}

	.tile-content {
		overflow-y: auto;
	}

	.tile-footer {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		font-size: 1.2rem;
		width: 100%;
		margin: auto;

		span:first-of-type {
			text-align: left;
		}
		span:last-of-type {
			text-align: right;
		}
	}
}

a.content-tile:hover,
.create-tile:hover {
	scale: 1.05;

}

.bestiary-tile:hover {
	background-color: rgb(56, 53, 52);
}