.tile-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 1.5em;
}

@media screen and (max-width: 1600px) {
	.tile-container {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media screen and (max-width: 1200px) {
	.tile-container {
		grid-template-columns: 1fr 1fr;
	}
	
}

@media screen and (max-width: 800px) {
	.tile-container {
		grid-template-columns: 1fr;
	}
}

.content-tile {
	aspect-ratio: 1 / 1;
	background: var(--color-surface-1);
	color: #cbcbcb;
	padding: 1rem;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

	transition: all 1s;
	transition-timing-function: cubic-bezier(0.06, 0.975, 0.195, 0.985);

	display: grid;
	grid-template-rows: 1fr 6fr 1fr;
	gap: 0.3rem;

	text-decoration: unset;

	.tile-header {
		text-align: center;
		text-wrap: nowrap;
		overflow: hidden;
		color: white;
	}

	.tile-content {
		overflow-y: auto;

		.tags {
			font-style: italic;
		}
		
		&.tile-has-image {
			position: relative;
			overflow-y: hidden;
			.description, .tags {
				position: absolute;
				width: 90%;
				height: 100%;
				left: 5%;
				top: 500px;
				display: inline;
				z-index: 1;
				transition: top 300ms ease-out;
			}

			.tags {
				overflow: hidden;
				text-wrap: nowrap;
				text-overflow: ellipsis;
			}

			.tile-image {
				width: 100%;
				height: 100%;
				object-fit: cover;
				filter: brightness(75%);
				transition: filter 300ms ease-out;
			}
		}
	}
	&:hover:has(.tile-has-image) {
		.tags {
			top: 0;
		}

		.description {
			top: 18px;
			overflow-y: scroll;
			padding-bottom: 20px;
		}
		.tile-image {
			filter: brightness(25%)
		}
	}
	.tile-footer {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		font-size: 1.1rem;
		width: 100%;
		margin: auto;

		span:first-of-type {
			text-align: left;
		}

		span:nth-of-type(2) {
			text-align: center;
		}

		span:last-of-type {
			text-align: right;
		}
	}
}

a.content-tile:not(:has(.tile-has-image)):hover,
.create-tile:hover {
	scale: 1.05;
}

.bestiary-tile:hover {
	background-color: #454241;
}


.popin-enter-active {
	animation: bounce-in 0.7s ease;
}
.popin-leave-active {
	animation: bounce-in 0.7s ease reverse;
}

.popin-enter-from,
.popin-leave-to {
	scale: 0;
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */

.popin-leave-active {
	position: absolute;
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% { transform: scale(.9); }
  100% { transform: scale(1); }
}


.zero-found {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1rem
}