.tile-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 1.5em;
}

@media screen and (max-width: 1800px) {
	.tile-container {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.content-tile.bestiary-tile .bestiary-tile-content {
		height: 25rem;
		.description {
			height: 23rem;
		}
	}
}

@media screen and (max-width: 1550px) {
	.tile-container {
		grid-template-columns: 1fr 1fr;
	}

	.content-tile.bestiary-tile .bestiary-tile-content {
		height: 30rem;

		.description {
			max-height: 28rem;
		}
	}
}

@media screen and (max-width: 1050px) {
	.tile-container {
		grid-template-columns: 1fr;
	}

	.content-tile.bestiary-tile .bestiary-tile-content {
		height: 35rem;

		.description {
			max-height: 33rem;
		}
	}
}

.content-tile {
	aspect-ratio: 1 / 1;
	background: var(--color-surface-2);
	color: #cbcbcb;
	padding: 1rem;
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

	transition: all 1s;
	transition-timing-function: cubic-bezier(0.06, 0.975, 0.195, 0.985);

	display: grid;
	grid-template-rows: 1fr 6fr 1fr;
	gap: 0.3rem;

	text-decoration: unset;

	.tile-header {
		text-align: center;
		text-wrap: nowrap;
		overflow: hidden;
		color: white;
	}

	.tile-content {
		overflow-y: auto;
	}

	.tile-footer {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		font-size: 1.2rem;
		width: 100%;
		margin: auto;

		span:first-of-type {
			text-align: left;
		}

		span:nth-of-type(2) {
			text-align: center;
		}

		span:last-of-type {
			text-align: right;
		}
	}
}

a.content-tile:hover,
.create-tile:hover {
	scale: 1.05;
}

.bestiary-tile:hover {
	background-color: #2b3f58;
}
