.input-field {
	position: relative;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.input-field input[type="text"] {
	color: var(--color-base);
	background-color: var(--color-surface-2);
	border: none;
	border: 1px solid var(--border-color-base);
	border-radius: 5px;
	outline: none;
	height: 3rem;
	width: 97%;
	font-size: 16px;
	margin: 0 0 8px 0;
	padding: var(--space-xs);
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-transition: border 0.3s, -webkit-box-shadow 0.3s;
	transition: border 0.3s, -webkit-box-shadow 0.3s;
	transition: box-shadow 0.3s, border 0.3s;
	transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s;
}

.input-field input[type="text"]:focus {
	border-color: var(--color-base--emphasized);
}

.input-field > label {
	color: var(--color-base--subtle);
	background: linear-gradient(to bottom, var(--color-surface-3) 0%, var(--color-surface-3) 50%, var(--color-surface-2) 50%, var(--color-surface-2) 100%);
	position: absolute;
	padding: 0 var(--space-xs);
	top: 0;
	left: 0;
	font-size: 1rem;
	cursor: text;
	-webkit-transition: color 0.2s ease-out, -webkit-transform 0.2s ease-out;
	transition: color 0.2s ease-out, -webkit-transform 0.2s ease-out;
	transition: transform 0.2s ease-out, color 0.2s ease-out;
	transition: transform 0.2s ease-out, color 0.2s ease-out, -webkit-transform 0.2s ease-out;
	-webkit-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
	text-align: initial;
	-webkit-transform: translateY(12px);
	transform: translateY(12px);
}

.input-field > label.active {
	-webkit-transform: translateY(-10px) scale(0.8);
	transform: translateY(-10px) scale(0.8);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	left: 0.75rem;
}
