@import "https://fonts.googleapis.com/css2?family=Convergence";
@font-face {
    font-family: "Scala Sans Offc";
    src: url("https://db.onlinewebfonts.com/t/dc298c9eebfc3a68e16003db22d76d47.eot");
    src: url("https://db.onlinewebfonts.com/t/dc298c9eebfc3a68e16003db22d76d47.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/dc298c9eebfc3a68e16003db22d76d47.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/dc298c9eebfc3a68e16003db22d76d47.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/dc298c9eebfc3a68e16003db22d76d47.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/dc298c9eebfc3a68e16003db22d76d47.svg#Scala Sans Offc")format("svg");
}

.stat-block {
	width: 100%;

	background-color: var(--color-surface-1);
	box-shadow:
		rgba(0, 0, 0, 0.19) 0px 10px 20px,
		rgba(0, 0, 0, 0.23) 0px 6px 6px;
	padding: 0.4rem;

    font-family: "Scala Sans Offc", Roboto, Helvetica, sans-serif;
    font-size: 15px;
	line-height: 1.4rem;
	font-size: 0.9rem;
    padding: 15px;

	position: block;
	column-count: 2;
}

.picture-container {
	position: relative;
}
.stat-block__image {
	position:absolute;
	max-height: 100px;
	top: -1.6rem;
	right: .25em;
	translate: 0 -.4rem;

	&:hover {
		scale: 3;
	}
}

.stat-block__row {
	display: block;
	width: 100%;
	margin-bottom: 0.6rem;
	margin-top: 0.6rem;
	// border-bottom: 0.063rem solid rgba(255, 69, 0, 0.5);

	&:first-of-type {
		margin-top: 0;
		margin-bottom: .2rem;
	}
	
	&:nth-of-type(2) {
		margin-top: 0;
		margin-bottom: 0;
	}

	&:last-of-type {
		border-bottom: unset;
		margin-bottom: 0;
	}

	&.no-bottom-border {
		border-bottom: unset;
	}

	&.two-wide {
		display: flex
	};
}

.stat-block__name-container {
	border-bottom: .063rem solid orangered;
    font-family: "Scala Sans Offc", Roboto, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.75rem;
    -webkit-column-span: all;
    column-span: all;
    margin-bottom: .45rem;
	color: orangered;
	line-height: 1.1;
	font-variant: small-caps;
	letter-spacing: .07rem;
}

.stat-block__core {
	font-style: italic;
	color: grey;
}
.stat-block__abilities {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	text-align: center;
}

.feature-container__automation-icon {
	font-size: .6rem;
}

.stat-block__save-container .ending-comma:last-of-type {
	display: none;
}

.feature-container {
	&__title {
		border-bottom: .063rem solid orangered;
		font-size: 1.25rem;
		font-family: "Scala Sans Offc", Roboto, Helvetica, sans-serif;
		font-weight: normal;
		line-height: 1.4;
		margin-top: 1rem;
		margin-bottom: .938rem;
		font-variant: small-caps;
		color: orangered;
		letter-spacing: .05rem;;
	}

	.feature-header {
		font-style: italic;
		line-height: 1.3;
		font-size: 15px;
		font-weight: 700;
		color: grey;
	}

	.feature-description {
		 margin-bottom: 10px;
	}
}

.feature-container__desc {
	margin-left: 0.25rem;
	white-space: pre-line;
	overflow-wrap: anywhere;
}

.challenge-prof {
	display: flex;
	justify-content: space-between;
}

.description {
	overflow-wrap: anywhere;
}

// styling only for the markdown rendered content which is not inside the vue component scope
:global(.feature-container__desc p) {
	display: inline;
}
:global(.feature-container__desc ul) {
	white-space: normal;
	margin-bottom: 0;
}

.stat-container-wrapper {
	display: inline-block;
}
.stat-container {
	display: flex;
	gap: .75rem;
}

.stat-table {
	border-collapse: collapse;

	thead > tr > th {
		color: grey;
		text-transform: uppercase;
		font-weight: 400;
		padding: .3125rem .125rem 0;
		text-transform: uppercase;
		font-family: Roboto, Helvetica, sans-serif;
		font-size: .6875rem;
	}

	tbody > tr > th {
		text-transform:uppercase;
		padding: 0px 8px;
	}

	tbody > tr > td {
		text-align: center;
		padding: 0px 8px;
		background-color: lighten(#3b3736, 5%);
	}

	tbody > tr > th,
	tbody > tr > td:first-of-type {
		background-color: darken(#3b3736, 5%);
	}

}


.stat-block.v2024 {
	.v2024-no-bottom-border {
		border-bottom: 0px solid
	}
}


@media screen and (max-width: 1400px) {
	.stat-block {
		column-count: 1;
	}
}

@media screen and (max-width: 1200px) {
	.stat-block {
		column-count: 2;
	}
}

@media screen and (max-width: 700px) {
	.stat-block {
		column-count: 1;
	}
}