@import "https://fonts.googleapis.com/css2?family=Convergence";

:root {
	--color-surface-1: var(--color-surface-1)
	var(--font-family): "Convergence", "Roboto", monospace
}

.stat-block {
	width: 100%;

	background-color: var(--color-surface-1);
	box-shadow:
		rgba(0, 0, 0, 0.19) 0px 10px 20px,
		rgba(0, 0, 0, 0.23) 0px 6px 6px;
	padding: 0.4rem;

	font-family: "Convergence", "Roboto", monospace;

	line-height: 1.4rem;
	font-size: 0.9rem;
}

.stat-block__image {
	margin: 1rem auto;
	max-height: 300px;
}

.stat-block__row {
	display: block;
	width: 100%;
	margin-bottom: 0.6rem;
	margin-top: 0.6rem;
	border-bottom: 1px solid orangered;

	&:first-of-type {
		margin-top: 0;
	}

	&:last-of-type {
		border-bottom: unset;
		margin-bottom: 0;
	}

	&.no-bottom-border {
		border-bottom: unset;
	}
}

.stat-block__name-container {
	color: orangered;
	margin-bottom: 0.2rem;
	text-align: left;
}

.stat-block__core {
	font-style: italic;
}
.stat-block__abilities {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	text-align: center;
}

.feature__has-automation-icon {
	font-size: 0.7rem;
}

.stat-block__save-container .ending-comma:last-of-type {
	display: none;
}

.feature-container {
	&__title {
		color: orangered;
		// font-weight: bold;
		border-bottom: 1px solid orangered;
		margin-top: 0.3rem;
	}
}

.feature-container__desc {
	margin-left: 0.3rem;
	white-space: pre-line;
	overflow-wrap: anywhere;
}

.challenge-prof {
	display: flex;
	justify-content: space-between;
}

.description {
	overflow-wrap: anywhere;
}

// styling only for the markdown rendered content which is not inside the vue component scope
:global(.feature-container__desc p) {
	display: inline;
}
:global(.feature-container__desc ul) {
	white-space: normal;
	margin-bottom: 0;
}