body .content .stat-block.Beyond,
body .v-popper__custom-menu .stat-block.Beyond {
    background: #f5f3ee !important;
    box-shadow: 0 0 5px #f3f5f9;
    border: 1px solid #d4d0ce;
    padding: 15px;
    outline: 1px solid #afa47a;
    outline-offset: -0.25rem;
    border-radius: .5rem;
    color: #5b160c;
    
    .stat-block__name-container {
        color: #5b160c;
        border-color: #5b160c;
    }

    .feature-container {
        color: black;
        .feature-container__title {
            color: #5b160c;
            border-color: #5b160c;
        }
    }


    .stat-table:first-of-type {
        tbody > tr > td {
            background-color: #ded4cc;;
        }

        tbody > tr > th,
        tbody > tr > td:first-of-type {
            background-color: #ede6d9;
        }
    }

    .stat-table:nth-of-type(2) {
        tbody > tr > td {
            background-color: #d0caca;
        }

        tbody > tr > th,
        tbody > tr > td:first-of-type {
            background-color: #d8dad1;
        }
    }
}