body .content .statblock-outer.monstermanual,
body .v-card .statblock-outer.monstermanual {
	.statblock {
		background: #e2dbd5 !important;
		box-shadow: 0 0 5px #f3f5f9;
		border: 1px solid #d4d0ce;
		padding: 15px;
		outline: 1px solid #afa47a;
		outline-offset: -0.25rem;
		border-radius: 0.5rem;
		color: #4d1e20;
	}


	.statblock-name-container {
		color: #4d1e20;
		border-color: #4d1e20;
		margin-bottom: 0.1rem;
	}

	.statblock-core {
		color: color-mix(in srgb, rgb(var(--v-theme-surface-bright)) 70%, black 30%);
	}


	.feature-container {
		color: black;

		.feature-container-title {
			color: #4d1e20;
			border-color: #4d1e20;
			margin-bottom: 0.3rem !important;
		}

		.feature-description {
			margin-bottom: 5px;
		}

		.feature-header {
			color: rgb(72, 72, 72)
		}
	}

	.feature-container.statblock-description {
		color: unset;

		.feature-container-title {
			color: color-mix(in srgb, #4d1e20 30%, red 70%);
			border-color: color-mix(in srgb, #4d1e20 30%, red 70%);
		}
		h1,h2,h3,h4,h5, a {
			color: color-mix(in srgb, #4d1e20 30%, red 70%);
		}
		hr {
			border-color: color-mix(in srgb, #4d1e20 30%, red 70%);
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5 {
		font-family: "Scala Sans Offc", Roboto, Helvetica, sans-serif;
		color: #4d1e20;
		line-height: 1.1;
		font-variant: small-caps;
		letter-spacing: 0.07rem;
		font-weight: bold;
	}

	hr {
		border-color: #4d1e20;
	}

	a {
		color: #4d1e20;
	}

	.feature-header {
		font-weight: normal;
	}

	.stat-table:first-of-type {
		tbody > tr > td {
			background-color: #ded4cc;
		}

		tbody > tr > th,
		tbody > tr > td:first-of-type {
			background-color: #ede6d9;
		}
	}

	.stat-table:nth-of-type(2) {
		tbody > tr > td {
			background-color: #d0caca;
		}

		tbody > tr > th,
		tbody > tr > td:first-of-type {
			background-color: #d8dad1;
		}
	}

	&.to-print {
		.feature-container-title {
			margin-bottom: -0.1rem !important;
			margin-top: 0.2rem !important;
		}
	}
}
