@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700");

:root {
	--color-surface-0: #1a1919;
	--color-surface-1: #3b3736;
	--color-surface-2: #324661;
	--color-surface-3: #1b262e;
	--color-surface-4: #23313c;
	--border-color-base: rgb(255 255 255 / 20%);
}


html {
	overflow-y: scroll;
}

html,
body {
	min-height: 100vh;
	max-width: 100vw;
	padding: 0;
	margin: 0;
	accent-color: rgb(var(--v-theme-primary));;
}


@media (hover: hover) {

	* {
		scrollbar-width: auto;
	}

	::-webkit-scrollbar {
		width: 14px;
				scrollbar-width: auto;
	}

	::-webkit-scrollbar-track {
		background: transparent;
		transition: background 100ms ease;
	}

	::-webkit-scrollbar-track:hover {
		background:rgb(255 255 255 / 7%);
	}

	::-webkit-scrollbar-thumb {
		border: 5px solid transparent;
		border-radius: 12px;
		background-clip: content-box;
		box-shadow: inset 0 0 0 10px rgb(255 255 255 / 60%);
	}

	::-webkit-scrollbar-thumb:hover {
		box-shadow: inset 0 0 0 10px rgb(255 255 255 / 80%);
	}

	::-webkit-scrollbar-thumb:active {
		box-shadow: inset 0 0 0 10px rgb(255 255 255 / 40%);
	}

	::-webkit-scrollbar-button {
		display: none;
		width: 0;
		height: 0;
	}

	::-webkit-scrollbar-corner {
		background-color: transparent;
	}
}

/* Browsers without `::-webkit-scrollbar-*` support */
@supports not selector(::-webkit-scrollbar) {
	html {
		scrollbar-width: thin;
	}
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizespeed;
	line-height: 1.25;
}

b {
	font-weight: bold;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}