@import "./base.css";
@import "./mixins.less";
body {
	font-family: var(--font-family-base);
	color: var(--color-base);

	position: relative;
	width: 100%;

	text-rendering: optimizeSpeed;
	min-height: 100vh;
	overflow-x: hidden;
}

main {
	width: 100vw;
	min-height: 80vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--color-base--emphasized);
	font-weight: 100;
}
orangered h2 {
	font-weight: 300;
}

hr {
	border-color: currentColor;
}
a {
	color: rgb(205, 205, 205);
	text-decoration: underline 0.1em rgba(0, 0, 0, 0);
	&:hover {
		text-decoration-color: color-mix(in srgb, currentColor, rgba(0, 0, 0, 0.5));
	}
}

.btn {
	padding: 6px 12px;
	background: var(--color-surface-0);
	border: 1px solid var(--color-surface-1);
	border-radius: 6px;
	font-size: 13px;
	color: rgb(247, 248, 248);
	height: 46px;
	appearance: none;
	transition: background-color 0.3s ease;
	cursor: pointer;
	&:hover {
		background-color: #272727;
	}

	&.confirm {
		background-color: var(--color-success);
		color: black;
		font-weight: 600;
	}

	&.danger {
		background-color: var(--color-destructive);
		color: black;
		font-weight: 600;
	}
	&.danger-hover:hover {
		background-color: var(--color-destructive);
		color: black;
		font-weight: 600;
	}
}

select {
	border: 2px solid orangered;
	background: transparent;
	color: orangered;
	border-radius: 0.2rem;
	padding: 0 0.2rem;
	outline: none;

	& option {
		background-color: var(--color-surface-0);
		color: orangered;
	}

	&.ghost {
		border-color: var(--border-color-base);
		color: var(--color-base);
		color: white;
	}

	& optgroup {
		background-color: var(--color-surface-1);
	}
}

.content {
	padding: 2rem 10vw;
	min-height: 100vh;
	margin-top: calc(var(--breadcrumbs-height) + var(--navbar-height) + 1.5rem);
	& .markdown {
		:not(.stat-block) h2 {
			text-align: left;
			margin-bottom: 1rem;
			font-size: 2rem;
			position: relative;
		}

		.header-anchor {
			color: grey;
		}

		a:not(.header-anchor) {
			color: orangered;
			text-decoration-color: rgba(255, 69, 0, 0);

			&:hover {
				text-decoration-color: rgba(255, 69, 0, 1);
			}
		}

		ul {
			margin: 0;
		}
	}
}
@media screen and (max-width: 1080px) {
	.content {
		padding: 1rem 2vw;
	}
}
@media screen and (min-width: 1081px) {
	.content.less-wide {
		padding: 2rem 25vw;
	}
}

b.indent {
	margin-left: 1.5rem;
}

.warning {
	color: var(--color-destructive);
	font-weight: bold;
}

.patreon {
	background-color: #f1465a;
	color: white !important;
	display: block;
	width: 240px;
	padding: 1rem;
	margin: 1rem 0;
	border-radius: 0.5rem;
	font-weight: bold;
	text-decoration: unset;
	transition: background-color 300ms ease;
	svg {
		color: white !important;
		translate: 0 3px;
	}
	span {
		margin-left: 0.6rem;
	}
	&:hover {
		background-color: #ed2139;
	}
}

.discord {
	background-color: #5865f2;

	&:hover {
		background-color: #434fd3;
	}
}

p:has(img[src="/Beholder.webp"]) {
	strong {
		text-align: center;
		display: block;
		font-size: 2rem;
	}

	img {
		display: block;
		margin: auto;
		width: 50%;
	}

	+ p {
		text-align: center;
	}
}

blockquote:has(p img[src="/Beholder.webp"]) ~ p {
	text-align: center;
	display: block;
	margin: auto;
	width: 70%;
}

.btn-icon {
	padding: 0;
	border: unset;
	background: unset;
	position: relative;
	cursor: pointer;
	background: transparent;
	border-radius: 50%;
	padding: 0.3rem;
	height: 1.5rem;
	width: 1.5rem;
	aspect-ratio: 1;
	color: orangered;
	transition: all ease 0.3s;

	svg {
		scale: 1.1;
		translate: 0 -2px;
	}
	&:hover {
		color: var(--color-surface-0);
	}
}

[data-sonner-toast][data-type="loading"] {
	--normal-bg: hsl(215, 100%, 6%);
	--normal-border: hsl(223, 43%, 17%);
	--normal-text: hsl(216, 87%, 65%);
}

.tile-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 1rem;
	& > a {
		text-decoration: none;
	}
}

.v-tooltip .v-overlay__content {
	background-color: #000 !important;
	color: #fff !important;
}
